@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "ConfirmByOnlineBanking";
}

<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress4.png" />
    </div>
</div>

<div>
    <h2>ชำระด้วยบริการ Internet Banking</h2>
    @using (Html.BeginForm("PrintExamCard", "Register"))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.ExamDate)
            @Html.HiddenFor(model => model.ExamLocation)
            @Html.HiddenFor(model => model.ExamType)
            @Html.HiddenFor(model => model.ExamPeriod)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.BirthDate)
            @Html.HiddenFor(model => model.PID)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.PhoneNum)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.PaymentMethod)
            @Html.HiddenFor(model => model.RegisterCode)
            <fieldset class="well">

                <div class="form-group">
                    <label class="col-md-3 control-label">ชื่อธนาคารผู้ออกบัตร</label>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option>กสิกร</option>
                            <option>ไทยพาณิชย์</option>
                            <option>กรุงไทย</option>
                        </select>
                    </div>
                </div>
                <br />
            </fieldset>
        </div>

        <div class="clearfix">
            <a class="btn btn-lg btn-info pull-left" href="/Register/Payment"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
            <button class="btn btn-lg btn-info pull-right" type="submit">ยืนยันการชำระเงิน <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    }
</div>
