@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "ConfirmByCreditCard";
}


<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress4.png" />
    </div>
</div>

<div>
    <h2>ชำระด้วยบัตรเครดิต</h2>

    @using (Html.BeginForm("PrintExamCard", "Register"))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.ExamDate)
            @Html.HiddenFor(model => model.ExamLocation)
            @Html.HiddenFor(model => model.ExamType)
            @Html.HiddenFor(model => model.ExamPeriod)
            @Html.HiddenFor(model => model.InitialName)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.BirthDate)
            @Html.HiddenFor(model => model.PID)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.PhoneNum)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.PaymentMethod)
            @Html.HiddenFor(model => model.RegisterCode)
            <fieldset class="well">
                @*ประเภทบัตร*@
                <div class="form-group">
                    <label class="col-md-3 control-label">ประเภทบัตร</label>
                    <div class="col-md-7">
                        <select class="form-control">
                            <option>VISA</option>
                            <option>Master Card</option>
                        </select>
                    </div>
                </div>
                @*หมายเลขบัตร*@
                <div class="form-group">
                    <label class="col-md-3 control-label">หมายเลขบัตร</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="หมายเลขบัตร">
                    </div>
                </div>

                @*วันหมดอายุบัตร*@
                <div class="form-group">
                    <label class="col-md-3 control-label">วันหมดอายุบัตร</label>
                    <div class="col-md-7 row">
                        <div class="col-xs-6 col-md-3">
                            <select class="form-control">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <select class="form-control">
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                            </select>
                        </div>
                    </div>                   
                </div>

                @*หมายเลข CVV*@
                <div class="form-group">
                    <label class="col-md-3 control-label">หมายเลข CVV (3 ตัวอักษร)</label>
                    <div class="col-md-1">
                        <input type="text" style="padding-left:10px; padding-right:10px;" class="form-control" placeholder="000">
                    </div>
                </div>

                @*ชื่อบนบัตร*@
                <div class="form-group">
                    <label class="col-md-3 control-label">ชื่อบนบัตร</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="ชื่อบนบัตร">
                    </div>
                </div>

                @*ประเทศธนาคารผู้ออกบัตร*@
                <div class="form-group">
                    <label class="col-md-3 control-label">ประเทศธนาคารผู้ออกบัตร</label>
                    <div class="col-md-7">
                        <select class="col-md-7 form-control">
                            <option>Thailand</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="clearfix">
            <a class="btn btn-lg btn-info pull-left" href="/Register/Payment"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
            <button class="btn btn-lg btn-info pull-right" type="submit">ยืนยันการชำระเงิน <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    }
</div>

