@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "ExamCard";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<form class="form-horizontal" >
    <fieldset class="well">
        <h2 class="text-dark text-center">บัตรประจำตัวสอบ</h2>
        
        <div class="form-group">
            <p class="col-md-3 control-label">รหัสผู้เข้าสอบ</p>
            <h4 class="col-md-7 text-danger">@Model.RegisterCode</h4>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label">ชื่อนามสกุล</p>
            <div class="col-md-7">
                <h4 class="text-dark">@Model.InitialName@Model.FirstName @Model.LastName</h4>
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label">เลขประจำตัวประชาชน</p>
            <div class="col-md-7">
                <h4 class="text-dark">@Model.PID</h4>
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label">วันที่สอบ</p>
            <div class="col-md-7">
                <h4 class="text-dark">@Model.ExamDate</h4>
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label">สถานที่สอบ</p>
            <div class="col-md-7">
                <h4 class="text-dark">@Model.ExamLocation</h4>
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-3 control-label">หลักสูตร</p>
            <div class="col-md-7">
                <h4 class="text-dark">@ViewBag.ExamTypeText</h4>
            </div>
        </div>

        @*รอบการสอบ*@
        <div class="form-group">
            <label class="col-md-3 control-label">รอบการสอบ</label>
            <div class="col-md-7">
                <h4 class="text-dark">@ViewBag.ExamPeriodText</h4>
            </div>
        </div>
    </fieldset>
</form>
