@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "ชำระเงิน";
}

<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress3.png" />
    </div>
</div>

<div>
    <h2>ชำระเงิน</h2>

    @using (Html.BeginForm("ConfirmPayment", "Register"))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.ExamDate)
            @Html.HiddenFor(model => model.ExamLocation)
            @Html.HiddenFor(model => model.ExamType)
            @Html.HiddenFor(model => model.ExamPeriod)
            @Html.HiddenFor(model => model.InitialName)
            @Html.HiddenFor(model => model.FirstName)
            @Html.HiddenFor(model => model.LastName)
            @Html.HiddenFor(model => model.InitialName)
            @Html.HiddenFor(model => model.BirthDate)
            @Html.HiddenFor(model => model.PID)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.PhoneNum)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.RegisterCode)
            <fieldset class="well">

                <div class="form-group">
                    <div class="col-xs-offset-2 radio">
                        <label>
                            @Html.RadioButtonFor(model => model.PaymentMethod, 1, new { @checked = "checked" })
                            โอนเงินผ่านบัญชีธนาคาร
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 radio">
                        <label>
                            @Html.RadioButtonFor(model => model.PaymentMethod, 2)
                            เคาน์เตอร์เซอร์วิส
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 radio">
                        <label>
                            @Html.RadioButtonFor(model => model.PaymentMethod, 3)
                            บัตรเครดิต
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 radio">
                        <label>
                            @Html.RadioButtonFor(model => model.PaymentMethod, 4)
                            Internet Banking
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        @*ถัดไป*@
        <div class="clearfix">
            <a class="btn btn-lg btn-info pull-left" href="/Register/PersonalDetail"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
            <button class="btn btn-lg btn-info pull-right" type="submit">ถัดไป <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    }
</div>
