@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "ข้อมูลผู้สมัคร";
}

<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress2.png" />
    </div>
</div>

<div>

    <h2>ข้อมูลผู้สมัคร</h2>

    @using (Html.BeginForm("Payment", "Register"))
    {
        @Html.HiddenFor(model => model.ExamDate)
        @Html.HiddenFor(model => model.ExamLocation)
        @Html.HiddenFor(model => model.ExamType)
        @Html.HiddenFor(model => model.ExamPeriod)
        @Html.HiddenFor(model => model.PaymentMethod)
        <div class="form-horizontal">
            <fieldset class="well">

                <div class="form-group">
                    <label class="col-md-3 control-label">ชื่อนามสกุล</label>
                    <div class="col-md-1">
                        @Html.TextBoxFor(model => model.InitialName, new { @placeholder = "นาย", @class = "form-control", required = true })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "ชื่อ", @class = "form-control", required = true })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.LastName, new { @placeholder = "นามสกุล", @class = "form-control", required = true })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">เลขประจำตัวประชาชน</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.PID, new { @placeholder = "เลขประจำตัวประชาชน", @class = "form-control", required = true })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">ที่อยู่ปัจจุบัน</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Address, new { @placeholder = "ที่อยู่ปัจจุบัน", @class = "form-control", required = true })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">เบอร์โทร</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.PhoneNum, new { @placeholder = "0000000000", @class = "form-control", required = true, @type = "tel" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">อีเมล์</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "example@email.com", @class = "form-control", required = true, @type = "email" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">วันเกิด</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.BirthDate, new { @placeholder = "example@email.com", @class = "form-control", required = true, @type = "date" })
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="clearfix">
            <a class="btn btn-lg btn-info pull-left" href="/Register/Index"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
            <button class="btn btn-lg btn-info pull-right" type="submit">ถัดไป <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    }

</div>
