@model RegistrationWeb.Models.SharedViewModel

@{
    ViewBag.Title = "พิมพ์บัตรเข้าสอบ";
}

<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress5.png" />
    </div>
</div>

<div>
    <h2>พิมพ์บัตรเข้าสอบ</h2>

    <div class="form-horizontal">
        <fieldset class="well">

            <div class="form-group">
                <h3 class="col-md-3 control-label">รหัสผู้เข้าสอบ</h3>
                <h2 class="col-md-7 text-danger">@Model.RegisterCode</h2>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">ชื่อนามสกุล</label>
                <div class="col-md-7">
                    <h4 class="text-dark">@Model.InitialName@Model.FirstName @Model.LastName</h4>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">วันที่สอบ</label>
                <div class="col-md-7">
                    <h4 class="text-dark">@Model.ExamDate</h4>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">สถานที่สอบ</label>
                <div class="col-md-7">
                    <h4 class="text-dark">@Model.ExamLocation</h4>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">หลักสูตร</label>
                <div class="col-md-7">
                    <h4 class="text-dark">@ViewBag.ExamTypeText</h4>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">รอบการสอบ</label>
                <div class="col-md-7">
                    <h4 class="text-dark">@ViewBag.ExamPeriodText</h4>
                </div>
            </div>


            @using (Html.BeginForm("ExamCard", "Register", FormMethod.Post, new { target = "_blank" }))
            {
                @Html.HiddenFor(model => model.PaymentMethod)
                @Html.HiddenFor(model => model.RegisterCode)
                @Html.HiddenFor(model => model.InitialName)
                @Html.HiddenFor(model => model.FirstName)
                @Html.HiddenFor(model => model.LastName)
                @Html.HiddenFor(model => model.PID)
                @Html.HiddenFor(model => model.ExamDate)
                @Html.HiddenFor(model => model.ExamLocation)
                @Html.HiddenFor(model => model.ExamType)
                @Html.HiddenFor(model => model.ExamPeriod)
                <div class="text-center">
                    <button class="btn btn-lg btn-info" type="submit">พิมพ์บัตรเข้าสอบ</button>
                </div>
            }
        </fieldset>
    </div>

</div>
