<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/Home/Index"><img height="50" src="~/Asset/images/Logo_Customer.png" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("หน้าหลัก", "Index", "Home")</li>
                        <li>@Html.ActionLink("สมัครสอบ", "Index", "Register")</li>
                        <li>@Html.ActionLink("กรอกรหัสชำระเงิน", "PaymentCode", "PaymentCode")</li>
                        <li>@Html.ActionLink("ดูผลสอบ", "Certificated", "Certificated")</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content body">
            @RenderBody()
        </div>
        <footer class="footer text-center">
            <span>สำนักงานคณะกรรมการข้าราชการพลเรือน (สำนักงาน ก.พ.)</span>
            <br />
            <span>Office of the Civil Service Commission (OCSC)</span>     
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
